body {
 font-family: 'Verdana', sans-serif;
 font-weight: 300;
}

p {
  color: blue;
 }

.hero {
  padding:250px 0;
  margin: 30px;
  font-family: 'Verdana', sans-serif;
  color: red;
  background-image:
   url("http://feelgrafix.com/data/background/background-15.jpg");
  Background-size: cover;
}

.hero a {
  color: #00FFAA'
  font-size: 1.25em;
}
