html {

}

.resume-bg {
 background-image: url(resume-bg.jpg);
 background-size: cover;
}

.home-bg {
 background-image: url(home-bg.jpg);
 background-size: cover;
}


}
body {
 font-family: 'Verdana', sans-serif;
 font-weight: 300;
 text-align: center;
}

ul#menu {
 padding:0;
}
ul#menu li {
 display: inline;
}
 

p {
  
 }

.hero {
  font-family: 'Verdana', sans-serif;
}

.hero a {
  color: #00FFAA'
  font-size: 1.25em;
}
